body { background: #2ec17a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 17px; display: flex; }
.block-session-0 { color: #850a5d; font-size: 19px; margin-bottom: 5px; }
.block-cluster-1 { color: #63dd5e; font-size: 20px; margin-bottom: 5px; }
.block-filter-2 { color: #eda332; font-size: 17px; margin-bottom: 5px; }
.block-cart-3 { color: #6a0f91; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #ff6912; font-size: 17px; margin-bottom: 5px; }
.block-cart-5 { color: #1191b3; font-size: 16px; margin-bottom: 5px; }